<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    
  
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="script.js"></script>
  
  </head>

  <body>

<table style="width:100%">
   <tr>
    <td><img src="GSAlogo.gif" align="left"></td>
    <td><img src="SAMlogo.gif" align="right"></td>
   </tr>
</table>   
  
  <nav>

  <div id='cssmenu'>
<ul>
   <li><a href='http://gsa.github.io/sam_api/sam/index.html'><span>Home</span></a></li>
   <li class='active has-sub'><a href='#'><span>SAM_api</span></a>
      <ul>
         <li class='has-sub'><a href='#'><span>Version 1</span></a>
            <ul>
               <li><a href='#'><span>API Basics</span></a></li>
			   <li><a href='#'><span>API Calls</span></a></li>
               <li><a href='#'><span>Search API</span></a></li>
			   <li><a href='#'><span>Field Reference</span></a></li>
               <li class='last'><a href='#'><span>Data Dictionary</span></a></li>
            </ul>
         </li>
         <li class='has-sub'><a href='#'><span>Version 2</span></a>
            <ul>
               <li><a href='#'><span>API Basics</span></a></li>
			   <li><a href='#'><span>API Calls</span></a></li>
               <li><a href='#'><span>Search API</span></a></li>
			   <li><a href='#'><span>Field Reference</span></a></li>
               <li class='last'><a href='#'><span>Data Dictionary</span></a></li>
            </ul>
         </li>
      </ul>
   </li>
   <li><a href='#'><span>Get API Key</span></a></li>
   <li><a href='#'><span>Whats Next</span></a></li>
   <li class='last'><a href='https://github.com/GSA/sam_api/issues'><span>Feedback</span></a></li>
</ul>
</div>

  
  </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
    <section class="footer-oss"> 
        <h4>Open source</h4> 
            <p> 
            This GSA microsite is modified from <a href="https://github.com/cfpb/api">an open source project</a> maintained by the Consumer Financial Protection Bureau. We thank their team for sharing such a strong and useful model. 
            </p> 
            <p> 
            As a work of the United States Government, source code released by GSA is in the public 
            domain by default within the United States. 
            </p> 
    </section> 

    <section class="footer-links"> 
        <ul> 
            <li> 
            <a href="http://www.gsa.gov/developer">GSA.gov/developer</a> 
            </li> 
            <li> 
            <a href="http://github.com/gsa">github.com/gsa</a> 
            </li> 
            </ul> 
    </section> 

  </footer>
  </body>

</html>
